@keyframes fadeIn {
    from {
        transform: translateY(-100%);
        opacity: 0;        
    }

    to {
        transform: translateY(0);
        opacity: 1;        
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;     
        transform: translateY(-100%);           
    }
}

@keyframes overlay {
    from {
        z-index: 1;
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        z-index: 2;
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
