@use '../custom' as *;

.no-webp .about {
    background-image: url(../img/tex-6.jpg);
}

.webp .about {
    background-image: url(../img/tex-6.webp);
}

.about {
    background-size: cover;
    background-color: $dark;
    background-blend-mode: lighten;

    h2 {
        font-size: 7rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        color: $white;



        @include media-breakpoint-up(lg) {
            font-size: 12rem;
        }

        span {
            display: block;

            &:nth-child(1) {
                color: transparent;
                -webkit-text-stroke: 1px $white;
                text-transform: capitalize;
                font-size: 4.5rem;
                text-align: center;

                @include media-breakpoint-up(lg) {
                    font-size: 10rem;
                }
            }

            &:nth-child(2) {
                color: $primary;
                letter-spacing: .8rem;
                font-size: 8rem;

                @include media-breakpoint-up(lg) {
                    font-size: 16rem;
                    margin-left: -2rem;
                }
            }
        }
    }

    .complementary {
        max-width: 75dvw;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        color: $white;

        @include media-breakpoint-up(lg) {
            max-width: auto;
            text-align: left;
        }

    }

    .text {
        letter-spacing: .3rem;
        color: $white;

        @include media-breakpoint-up(lg) {
            letter-spacing: 1rem;
        }
    }

}
