@use '../custom' as *;

.aetos-icons {
    background-color: $primary;

    img {
        aspect-ratio: 1 / 1;
    }

    .icon-info {
        h2 {
            font-weight: 700;
            color: $dark;
            font-size: 3.2rem;
            line-height: .7;

            @include media-breakpoint-up(lg) {
                font-size: 5rem;
            }

            span {
                display: block;
                color: $white;
                text-transform: uppercase;
                font-weight: 900;

                @include media-breakpoint-up(lg) {
                    font-size: 8.5rem;
                }
            }
        }

        p {
            font-size: 2rem;
            font-weight: 300;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $dark;
    }

    .swiper-pagination-bullet {
        background-color: $white;

        &-active {
            background-color: $dark;
        }
    }


    .complementary {
        line-height: 1;
        p {
            &:nth-child(1) {
                text-align: start;
                font-weight: 700;
                letter-spacing: 4px;
                color: $dark;
                font-size: 2.2rem;
            }

            &:nth-child(2) {
                color: $light;
                font-size: 7rem;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $headings-font-family;

                span {
                    display: block;
                    color: $dark;
                }

                @include media-breakpoint-up(md) {
                    font-size: 11rem;
                }
            }

            &:nth-child(3) {
                margin-top: 1rem;
                font-size: 2.2rem;
                width: 72dvw;

                @include media-breakpoint-up(md) {
                    width: 35dvw;
                }
            }
        }
    }
}