@use '../custom' as *;

.no-webp .contact {
    background-image: url(../img/tex-6.jpg);
}

.webp .contact {
    background-image: url(../img/tex-6.webp);
}

.contact {
    background-color: $dark;
    background-size: cover;
    background-blend-mode: lighten;
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    p {
        color: $white;
        font-weight: 300;
        font-size: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 2.5rem;
        }

        &:nth-child(1) {
            font-size: 1.6rem;
            text-transform: uppercase;
        }

    }

    h2 {
        font-size: 5rem;
        color: $primary;
        font-weight: bold;
        line-height: .75;

        @include media-breakpoint-up(lg) {
            font-size: 9rem;
        }

        span {
            font-size: 6rem;
            color: $white;

            @include media-breakpoint-up(lg) {
                font-size: 10rem;
                margin-left: 8rem;
            }
        }
    }

    p {
        &.extra {
            font-size: 2.5rem;
            text-transform: none;
            width: 75dvw;
            margin-inline: auto;

            @include media-breakpoint-up(md) {
                margin-top: 20rem;
                width: auto;
            }
        }
    }

}