@use '../custom' as *;

.no-webp .create {
    background-image: url(../img/textura.jpg);
}

.webp .create {
    background-image: url(../img/textura.webp);
}

.create {
    background-size: cover;
    background-color: $white;
    background-blend-mode: multiply;

    h2 {
        font-size: 6rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;

        @include media-breakpoint-up(lg) {
            font-size: 10rem;
        }

        span {
            &:nth-child(1) {
                color: transparent;
                -webkit-text-stroke: 1px $dark;
                text-align: center;
                text-transform: capitalize;
            }

            &:nth-child(2) {
                color: $primary;                           
                letter-spacing: 4px;
            }
        }
    }

    .texto {
        font-size: 2rem;
        font-weight: 300;
        text-align: center;

        @include media-breakpoint-up(lg) {            
            text-align: left;
        }
    }

}