@use '../custom' as *;

// .no-webp .footer {
//     background-image: url(../img/footer.jpg);
// }

// .webp .footer {
//     background-image: url(../img/footer.webp);
// }

.footer {
    background-color: $primary;
    // background-size: cover;
    // background-blend-mode: multiply;
    // opacity: .5;

    h2, h3, p {
        color: $dark;
    }

    h2 {
        font-size: 4rem;
        font-weight: bold;
        transform: rotate(-90deg);
        line-height: .8;

        @include media-breakpoint-up(md) {
            transform: unset;
            font-size: 5.5rem;
        }

        span {
            display: block;
            margin-left: 4rem;
            font-weight: 700;
            font-size: 6rem;

            @include media-breakpoint-up(lg) {
                font-size: 8rem;
            }
        }
    }
}