@use '../custom' as *;

.no-webp .header {
    background-image: url(../img/header.jpg);
}

.webp .header {
    background-image: url(../img/header.webp);
}

.header {
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;

    .encabezados {
        padding-bottom: 5rem;


        h1,
        h2 {
            font-weight: 700;
            text-transform: uppercase;
            line-height: .8;
            color: $white;
        }

        .encabezado-1 {
            display: flex;
            align-items: center;

            h1 {
                font-size: 7rem;

                @include media-breakpoint-up(lg) {
                    font-size: 12rem;
                }

                span {
                    -webkit-text-stroke: 1px $white;
                    -webkit-text-fill-color: transparent;
                }
            }

            a {
                color: $dark;
                font-weight: 300;
                text-decoration: none;
                display: none;
                @include media-breakpoint-up(md) {
                    display: block;
                }
            }

        }

        .encabezado-2 {
            h2 {
                font-size: 8.5rem;

                @include media-breakpoint-up(lg) {
                    font-size: 16rem;
                    margin-left: 5rem;
                    letter-spacing: 5px;
                }

                span {
                    background-image: linear-gradient(to left, transparentize($white, .2%) 0%, transparentize($white, .2%) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 50rem;
                    background-repeat: no-repeat;
                    background-blend-mode: overlay;
                }

            }
        }
    }


}