@use '../custom' as *;

.no-webp .home {
    background-image: url(../img/header.jpg);
}

.webp .home {
    background-image: url(../img/header.webp);
}


.home {
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .headers {
        padding-bottom: 5rem;


        h1,
        h2 {
            font-weight: 700;
            text-transform: uppercase;
            line-height: .8;
            color: $white;
        }

        .header-1 {
            display: flex;
            /* align-items: center; */

            h1 {
                font-size: 5rem;
                text-shadow: 7px 7px 7px transparentize($dark, .82%);

                @include media-breakpoint-up(lg) {
                    font-size: 12rem;
                }

                span {
                    -webkit-text-stroke: 1px $white;
                    -webkit-text-fill-color: transparent;
                }
            }

            a {
                color: $dark;
                font-weight: 300;
                text-decoration: none;
                display: none;

                @include media-breakpoint-up(md) {
                    display: block;
                }
            }

        }

        .header-2 {
            h2 {
                font-size: 7rem;

                @include media-breakpoint-up(lg) {
                    font-size: 16rem;
                    margin-left: 7rem;
                    letter-spacing: 5px;
                }

                span {
                    background-image: linear-gradient(to left, transparentize($white, .3%) 0%, transparentize($white, .3%) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 50rem;
                    background-repeat: no-repeat;
                    background-blend-mode: overlay;
                }

            }
        }
    }
}

.link-primary {
    &:hover {
        color: $light!important;
    }
}

.navbar {
    transition: background-color .3s ease;;
}

