@use '../custom' as *;

.no-webp .identity {
    background-image: url(../img/textura.jpg);
}

.webp .identity {
    background-image: url(../img/textura.webp);
}

.identity {
    background-color: $white;
    background-size: cover;
    background-blend-mode: multiply;

    h2 {        
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 1px $gray-600;
        line-height: .7;
        margin-top: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 8rem;
        }

        span {
            color: transparentize($gray-600, .2%);
            font-size: 7.5rem;
            display: block;            
            -webkit-text-stroke: 0px;
            text-transform: uppercase;
            margin-left: 4rem;            
            

            @include media-breakpoint-up(lg) {
                font-size: 12rem;
                margin-left: 40rem;
            }
        }
    }

    p {
        color: $gray-600;

        span {
            color: $primary;
        }
    }

    .col-md-3 {
        padding: 1rem 1rem 1rem 1rem;
        background: $dark;
    }

    img {
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 40rem;
            object-fit: cover;
        }
    }

}