@use '../custom' as *;

.no-webp .portfolio {
    background-image: url(../img/tex-6.jpg);
}

.webp .portfolio {
    background-image: url(../img/tex-6.webp);
}

.portfolio {
    background-color: $negro;
    background-size: cover;
    background-blend-mode: lighten;

    // .image-grid {
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 1rem;

    //     img {
    //         width: 100%;
    //         min-height: 30dvh;
    //         object-fit: cover;

    //         @include media-breakpoint-up(lg) {
    //             height: 55dvh;
    //         }
    //     }
    // }

    .texts {
        text-align: center;


        @include media-breakpoint-up(lg) {
            text-align: left;
        }

        p {
            color: $white;
            font-weight: 300;
            font-size: 2rem;
            letter-spacing: 1px;

            &:nth-child(1) {
                margin-top: 2rem;
                font-size: 1.6rem;
                text-transform: uppercase;
            }

            span {
                color: $info;
            }
        }

        h2 {
            font-size: 5rem;
            color: $info;
            line-height: .7;

            @include media-breakpoint-up(lg) {
                font-size: 8rem;
            }

            span {
                color: $white;
                text-transform: uppercase;
                font-size: 7rem;
                display: block;

                @include media-breakpoint-up(lg) {
                    font-size: 12rem;
                    margin-left: 4rem;
                }
            }
        }
    }

    .complementary {
        max-width: 85dvw;
        margin-inline: auto;

        @include media-breakpoint-up(lg) {
            max-width: auto;
            margin-inline: none;
        }
    }

    .btn-container {
        max-width: 85dvw;
        margin-inline: auto;
    }
}

.works {
    max-width: 85dvw;
    margin-inline: auto;

    .work {        
        background-size: cover;
        position: relative;
        min-height: 32rem;
        
        overflow: hidden;


        &__info {
            padding: 2rem 2rem 2rem 2rem;
            background-color: transparentize($primary, .5%);
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;

            @include media-breakpoint-up(md) {
                opacity: 0;
                visibility: hidden;

            }
        }

        &__title {
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            color: $dark;
        }

        &__description {
            text-align: center;
            line-height: 1.4;
            color: $dark;
        }

        &:nth-child(odd) {
            .work__info {
                background-color: transparentize($light, .5%);
            }
        }

        &:hover {
            .work__info {
                opacity: 1;
                visibility: visible;
            }
        }
    }

}

.popup-title {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: transparentize($white, .3%);
    line-height: .5;

    span {
        display: block;
        color: transparentize($dark, .3%);
        z-index: -1;
    }
}