@use '../custom' as *;

.no-webp .portfolio {
    background-image: url(../img/tex-6.jpg);
}

.webp .portfolio {
    background-image: url(../img/tex-6.webp);
}

.portfolio {
    background-color: $negro;
    background-size: cover;
    background-blend-mode: lighten;

    .image-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        img {
            width: 100%;
            min-height: 30dvh;
            object-fit: cover;

            @include media-breakpoint-up(lg) {
                height: 55dvh;
            }
        }
    }

    .texts {
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }

        p {
            color: $white;
            font-weight: 300;
            font-size: 2rem;
            letter-spacing: 1px;

            &:nth-child(1) {
                margin-top: 2rem;
                font-size: 1.6rem;
                text-transform: uppercase;
            }

            span {
                color: $info;
            }
        }

        h2 {
            font-size: 5rem;
            color: $info;
            line-height: .7;

            @include media-breakpoint-up(lg) {
                font-size: 8rem;
            }

            span {
                color: $white;
                text-transform: uppercase;
                font-size: 7rem;
                display: block;

                @include media-breakpoint-up(lg) {
                    font-size: 12rem;
                    margin-left: 4rem;
                }
            }
        }
    }

    .complementary {
        max-width: 75dvw;
        margin-inline: auto;

        @include media-breakpoint-up(lg) {
            max-width: auto;
            margin-inline: none;
        }
    }
}

.works {
    max-width: 85dvw;
    margin-inline: auto;

    .work {
        position: relative;

        &__info {
            position: absolute;
            inset: 0;
            background-color: transparentize($white, .5%);
            padding: 1rem 1rem 1rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .3s linear;
        }

        &__title {
            text-transform: uppercase;
            font-weight: 700;
            color: $dark;
            text-align: center;
        }

        &__description {
            font-weight: 300;
            text-align: center;
            color: $dark;
        }

        &:hover {
            .work__info {
                opacity: 1;
                visibility: visible;
            }

            img {
                filter: blur(2px) grayscale(1);
            }
        }

        &:nth-child(even) .work__info {
            background-color: transparentize($primary, .5%);
        }
    }

    @include media-breakpoint-up(lg) {
        max-width: auto;
        margin-inline: none;
    }
}

.popup-title {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: transparentize($white, .3%);
    line-height: .5;

    span {
        display: block;
        color: transparentize($dark, .3%);
        z-index: -1;
    }
}