@use '../custom' as *;

.no-webp .team {
    background-image: url(../img/textura.jpg);
}

.webp .team {
    background-image: url(../img/textura.webp);
}

.team {
    background-color: $primary;
    background-size: cover;
    background-blend-mode: multiply;

    &-text {
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        color: $light;

        @include media-breakpoint-up(lg) {
            max-width: 60rem;
            margin-inline: auto;
        }

        span {
            color: $info;
        }
    }

    h2 {
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        line-height: .8;
        color: $dark;
        transform: rotate(-90deg);

        @include media-breakpoint-up(md) {
            transform: unset;
            line-height: .7;
        }

        @include media-breakpoint-up(lg) {
            font-size: 10rem;            
        }

        span {
            display: block;
            font-size: 8rem;
            text-transform: uppercase;
            color: $light;
            margin-left: 8rem;

            @include media-breakpoint-up(lg) {
                font-size: 12rem;
                margin-left: 0;
            }
        }
    }
}