@use '../custom' as *;

.no-webp .team {
    background-image: url(../img/tex-4.jpg);
}

.webp .team {
    background-image: url(../img/tex-4.webp);
}

.team {
    background-color: $primary;
    background-size: cover;
    background-blend-mode: hard-light;

    &-text {
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        color: $light;
        max-width: 75dvw;
        margin-inline: auto;

        @include media-breakpoint-up(lg) {
            max-width: 60rem;            
        }

        span {
            color: $info;
        }
    }

    h2 {
        font-size: 5.5rem;
        font-weight: 700;
        text-align: center;
        line-height: .8;
        color: $dark;
        transform: rotate(-90deg);

        @include media-breakpoint-up(md) {
            transform: unset;
            line-height: .7;
        }

        @include media-breakpoint-up(lg) {
            font-size: 9.5rem;
        }

        span {
            display: block;
            font-size: 7.5rem;
            text-transform: uppercase;
            color: $light;
            margin-left: 8rem;

            @include media-breakpoint-up(lg) {
                font-size: 11rem;
                margin-left: 0;
            }
        }
    }
}