@use '../custom' as *;

.aetos-slide {
    position: relative;

    img {
        transition: filter .3s ease-in-out;
    }

    .actions {
        background-color: transparentize($dark, .5%);
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem 2rem 2rem;
        transition: all .4s ease;

        @include media-breakpoint-up(sm) {
            opacity: 0;
            visibility: hidden;
        }
    }

    &:hover {

        .actions {
            @include media-breakpoint-up(sm) {
                opacity: 1;
                visibility: visible;
            }

        }

        img {
            filter: invert(1);
        }
    }

    @include media-breakpoint-down(sm) {
        img {
            filter: invert(1);
        }
    }

}

.aetos-service {
    position: relative;

    img {
        transition: filter .3s linear;
    }

    .service_info {
        padding: 2rem 2rem 2rem 2rem;
        text-align: center;
        color: $dark;
    }

    .actions {
        position: absolute;
        inset: 0;
        background-color: transparentize($light, .65%);
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;

        @include media-breakpoint-up(md) {
            visibility: hidden;
            opacity: 0;
        }
    }

    &:hover {
        @include media-breakpoint-up(md) {
            .actions {
                visibility: visible;
                opacity: 1;
            }

            img {
                filter: grayscale(1);
            }
        }
    }

    @include media-breakpoint-down(sm) {
        img {
            filter: grayscale(1);
        }
    }
}

.aetos-works {

    .work {
        position: relative;

        &:hover {

            @include media-breakpoint-up(md) {
                .actions {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .description {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
        }
    }

    .work-info {
        text-align: center;
        padding: 2rem 2rem 2rem 2rem;
        color: $dark;
    }

    .actions {
        background-color: transparentize($dark, .3%);
        position: absolute;
        inset: 0;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;

        @include media-breakpoint-up(md) {
            opacity: 0;
            visibility: hidden;
        }
    }


}

.contact-info {

    .content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        -webkit-line-clamp: 3;
    }
}