$negro : #00091b;
$azul: #00aad7;
$azul-claro: #00ffff;
$gris: #666666;

/* Reescribir Colores */
$dark: $negro;
$primary: $azul;
$info: $azul-claro;
$gray-600: $gris;

/* Tipografía */
$font-family-base: "Nunito", serif;
$headings-font-family: "Bai Jamjuree", serif;
$font-size-root: 62.5%;
$font-size-base: 1.8rem;

/* Navegacion */
$navbar-dark-color: $primary;
$body-bg-dark: $dark;
$navbar-toggler-focus-width: none;

/* Modal */
$modal-content-bg: $primary;
$modal-header-border-color: transparent;
$modal-content-border-radius: 0;
$modal-header-padding-y: 2rem;
$modal-backdrop-opacity: .7;

/* Forms */
$form-floating-line-height: 2;
$form-floating-label-height: 1rem;
$form-floating-label-disabled-color: $primary;
$form-floating-height: add(3rem, 1rem);

// Activar Grid
$enable-cssgrid: true;





/* Formularios */
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.subElement {
    opacity: 0;
    visibility: hidden;
}